---
import FooterComp from "../components/FooterComp.astro";
import HeaderComp from "../components/HeaderComp.astro";
---

<HeaderComp/>
<h1>Page 5</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni aut architecto optio corporis vero? Voluptates corporis accusamus, autem fugit explicabo nostrum repellendus dolorem doloribus magnam adipisci et quas optio eveniet!</p>
<FooterComp/>
