---
import FooterComp from "../components/FooterComp.astro";
import HeaderComp from "../components/HeaderComp.astro";
---

<HeaderComp/>
<h1>Page 4</h1>
<p>Page 4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laborum, accusamus, inventore pariatur dignissimos amet reiciendis rerum dolorem voluptatem ab dolor, molestias voluptates! Vero impedit fugiat ea numquam doloribus explicabo.</p>
<FooterComp/>