---
import FooterComp from "../components/FooterComp.astro";
import HeaderComp from "../components/HeaderComp.astro";
---

<HeaderComp/>
<h1>Page 6</h1>
<p>Page 6 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure saepe sint voluptatem dignissimos corrupti pariatur at quod labore asperiores expedita nihil, autem architecto sed assumenda ipsum laboriosam laudantium non? Iure.</p>
<FooterComp/>