---
import flash from "../assets/flash.png";
import wonderwoman from "../assets/wonderwoman.png";
import superman from "../assets/superman.png";
import zatanna from "../assets/zatana.png";
---

<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-img-top">
                 <a href="#"><img src={flash.src} alt="The Flash"/>
            </div>        
            <div class="card-body">
              <h5 class="card-title">The Flash</h5>
              <p class="card-text">Able to run at near light-speeds, his powers provide the ultimate caffeine kick: He can run up buildings, move so swiftly he phases through objects, create sonic booms with the snap of his fingers.</p>
            </a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-img-top">
             <a href="#"> <img src={wonderwoman.src}" alt="Wonder Woman">
            </div>    
            <div class="card-body">
              <h5 class="card-title">Wonder Woman</h5>
              <p class="card-text">Wonder Woman is Princess Diana of the immortal Amazons from Greek mythology. Wonder Woman has superhuman strength and speed, as well as the trademark bulletproof bracelets, but it’s probably her Golden Lasso of Truth most people really wish they had.
            </p>
        </a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <a href="#">
             <div class="card-img-top">
            <img src={superman.src}  alt="Superman">
            </div>
            <div class="card-body">
              <h5 class="card-title">Supeman</h5>
              <p class="card-text">Superman has super strength, speed, flight, invulnerability as well as his renowned X-ray and heat vision. The most powerful being on the planet, his amazing abilities are also a melancholy reminder of how different he is from the people he’s dedicated to protect.
            </p>
        </a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <a href="#">
            <div class="card-img-top">
            <img src={zatanna.src} alt="Zatanna">
            </div>
            <div class="card-body">
              <h5 class="card-title">Zatanna</h5>
              <p class="card-text">Intelligent, confident, self-assured and able to manipulate reality itself with her vast magical abilities, Zatanna balances her time as a skilled stage illusionist with battling the dark arts alongside some of the world’s greatest super heroes.</p>
            </a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <style>
	.superheroes {
    max-width: 50%;
   padding: 100px;
   box-sizing: border-box;


  
}
.superheroName{
 background-color: var(--blue);
 color: white;
text-align: center;
box-sizing: border-box;


}




h1{
    font-weight: 200;
}


footer{
    background-color: var(--blue);
    color: white;
    text-align: center;
    font-weight:200;
    padding: 10px;
}

 a{

    text-decoration: none;
    color:black;
}

.card-img-top {
    background-color: var(--blue);
    width: 100%;
    background-size: auto;
  
}

.card-img-top, img{
    width: auto;
    height: 400px;
}



h1{
    font-weight: 200;
    font-size: 1em;
}



@media (max-width: 800px) {
    .superheroes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    }
    .rankings{
        display: block;
    }
  }


  </style>